nav {
    position: absolute;
    z-index: 1;
    padding: 40px;
    font-family: "marvin", sans-serif;
    font-size: 30px;
    color: #F6F6F6;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// header {
//     position: relative;
// }

header img {
    width: 100%;
    height: auto;
}

nav a {
    display: flex;
    margin-left: auto;
}