.point #img1 {
    position: absolute;
    top: 27%;
    left: 13%;
    width: 9%;
}

.point #img2 {
    position: absolute;
    top: 27%;
    left: 50%;
    width: 9%;
}

.point #img3 {
    position: absolute;
    top: 67%;
    left: 76%;
    width: 9%;
}